$activeStar: #ddd872;

.rating {
    .rating-heading {
        &:nth-child(1) {
            margin-top: 0;
        }
    }

    .progress {
        height: 25px;

    }
}

.stars {
    padding: 5px 0 10px 0;
    .star {
        font-size: 2rem;
        color: $activeStar;
        padding: 5px;
    }
}

.rating-stars {
    text-align: center;
    .star {
        cursor: pointer;
        span {
            color: desaturate($activeStar, 100%);
            font-size: 4rem;
        }

        &.active {
            span {
                color: $activeStar;
            }
        }

         &:hover, &.hovered {
            span {
                color: darken($activeStar, 20%);
            }
        }

    }
}

.rating-comment {   
    textarea {
        font-size: 2rem;
        resize: vertical;
        width: 100%;
        margin-bottom: 20px;
    }
}

.progress {
    .progress-bar-value {
        position:absolute;
        text-align: center;
        font-size: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 700;
        padding: 0 10px;
        background-color: rgba($gray-darker, 0.2);
        height: 25px;
        width: 50px;
    }
}